<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
      ios.position="left">
  </ActionItem>
  <Label text="Navigate"></Label>
</ActionBar>

<GridLayout class="page__content" columns="*" rows="10*,*">
  <StackLayout col="0" row="0" class="text-color">
    <label text="Tap to delete item"></label>
    <ListView [items]="this.listado.findAll()" class="list-group" separatorColor="black">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout (tap)="deleteItem(i)">
          <Label [text]="item" class="list-group-item"></Label>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>

  <StackLayout col="0" row="1">
    <Button text="Back" (tap)="changePage()"></Button> 
  </StackLayout>
</GridLayout>