<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label text="Navigate"></Label>
</ActionBar>

<GridLayout class="page__content" columns="*" rows="*,10*,*">
  <StackLayout col="0" row="0">
    <Button text="Add random number" (tap)="addToList()"></Button>
  </StackLayout>

  <StackLayout col="0" row="1" class="text-color">
    <label [text]="this.listHeader"></label>
    <ListView [items]="this.listado.findAll()" class="list-group" separatorColor="black">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout>
          <Label [text]="item" class="list-group-item"></Label>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>

  <StackLayout col="0" row="2">
    <Button text="Delete items" (tap)="changePage()"></Button>
  </StackLayout>
</GridLayout>